@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" align="left">Welcome</h1>
    <p align="left">Upload your Ladoos image.</p>
    <form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Index">
    <div class="form-group">
        <div class="col-md-10" align="left">
            <p>It's Diwali season in India! Diwali is a festival that celebrates 
                the victory of light over darkness. Families celebrate with fireworks
                and light up every house in the country with diyas, a type of Indian candles.
                A very popular delicacy that Indians eat during Diwali is ladoos.
            <br/>
                Ladoos are balls of flour dipped in sugar syrup. Since we're in the middle
                of a global pandemic, most of the celebrations have to be done from home
                and we have to be innovative to find our inner child to have fun during Diwali 2020.
                Thanks to technology, however, we're still connected to our loved ones virtually!
            </p>
            <p>Upload a file or fill in an image URL using this form:</p>
            <p><input type="file" name="files" /></p>
            <p>Url: <input type="url" name="url" alt="URL" /></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10" align="left">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>
</div>
